<!DOCTYPE html>
<html class="bg-red" lang="{{ page.lang | default: site.lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ "/assets/css/tachyons.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/pygments-css/monokai.css" | relative_url }}">
  </head>

  <body>
    <header role="banner">
    </header>

    <main class="mw8 center pa3 bg-yellow" aria-label="Content">
      <div>
        {{ content }}
      </div>
    </main>

    <footer>
    </footer>
  </body>
</html>
